textarea{
    height: 200px;
    resize: none;
}
.post-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.post-container> form{
    width: 100%;
}
.post-container> form> p{
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}
.post-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px rgba(128, 128, 128, 0.5) solid;
    box-sizing: border-box;
}
.post-button{
    color:#fff;
    font-weight: bold;
    background-color: #24A074;
    border: 1px rgba(128, 128, 128, 0.5) solid;
    padding: 10px;
}
.post-button:hover{
    background-color: rgb(8, 100, 68);
}

.posts-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px #000 solid;
    width: 80%;
    padding: 10px;
    margin: 0 auto 0 auto;
}
.posts-container p{
    font-weight: bold;
    margin: 6px 0 6px 0;
}
.table-head{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.p-tools img{
    height: 25px;
    width: 25px;
}