html, body{
    font-family: 'Raleway';
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.top-bar{
    height: auto;
    min-height: 44px;
    overflow: auto;
    background-color: #1B242F;
    padding: 10px;
    box-sizing: border-box;
}
.t-logo{
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    float: left;
    color: white;
    margin-left: 5%;
    opacity: 50%;

}
.t-navbar{
    float: right;
    margin-right: 30px;
}
.t-n-ul{
    margin: 0;
}
.t-n-ul> li{
    display: inline;
    color: white;
    /*margin-right: 34px;*/
    font-size: 18px;
    
}
.inner-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #252934;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.login-form{
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: #131B1F;
    border-radius: 10px;
    box-sizing: border-box;
}
.login-form>p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.border-bottom:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}
.border-bottom-small:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    /*padding-top: 20px;  This creates some space between the element and the border. */
    border-bottom: 1px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}
.login-form>form{
    text-align: left;
}
.login-form>form>p{
    color: #fff;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
}
.login-iput{
    display: list-item;
    width: 100%;
    border-radius: 5px;
    border: 1px #0D6292 solid;
    padding: 10px 5px 10px 5px;
    margin: 2px 0px 10px 0px;
    background-color: #272728;
    box-sizing: border-box;
}
.login-button{
    font-size: 15px;
    margin: 20px 0px;
    color: #fff;
    background-color: #2C7669;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #1B242F;
}
.footer p{
    margin: 0;
    opacity: 50%;
}
